.movies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.movie {
  display: block;
  background-color: lightgrey;
  width: 200px;
  height: 350px;
  border: 15px solid rgb(27, 27, 173);
  padding: 5px;
  margin: 10px;
}
img {
  max-height: 250px;
  max-width: 200 px;
  padding-left: 10px;
  padding-right: 10px;
}
